.advantages {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 13px;
  margin-top: 27px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 737px;
  margin-top: 15px;
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 33px;
  padding-top: 40px;
  width: 260px;
  position: relative;

  & svg {
    position: absolute;
    display: block;
    top: -13px;
    left: 0;
    fill: $color-blue;
  }

  & .icon-feature-heart {
    top: -9px;
    left: 7px;
  }

  & .icon-feature-rocket {
    top: -10px;
    left: -6px;
  }

  & .icon-feature-flower {
    top: -13px;
    left: 6px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 48px;
    width: 673px;
    margin-bottom: 13px;
    margin-top: 0;
  }

  .advantages__list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 475px;
  }

  .advantages__item {
    width: 334px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 55px;
    margin-bottom: 58px;

    & svg {
      top: 0;
      left: 5px;
    }

    & .icon-feature-heart {
      top: 5px;
      left: 10px;
    }

    & .icon-feature-rocket {
      top: 4px;
      left: -4px;
    }

    & .icon-feature-flower {
      top: 0;
      left: 9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 710px;
    margin-bottom: 12px;
    padding-top: 61px;
  }

  .advantages__list {
    height: 485px;
    padding-left: 5px;
  }

  .advantages__item {
    width: 350px;
    padding-top: 54px;
  }
}
