.advantages{

}

.advantages__list{
  margin: 0;
  padding: 0;
}

.advantages__item{
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 85px;
}


.advantages__item--flower{
  background-image: url("../img/icon-feature-flower.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: top 25px left 0;

}
.advantages__item--money {
  background-image: url("../img/icon-feature-money.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: top 25px left 0;

}
.advantages__item--heart{
  background-image: url("../img/icon-feature-heart.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: top 25px left 0;
}
.advantages__item--ball {
  background-image: url("../img/icon-feature-ball.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: top 25px left 0;
}
.advantages__item--rocket{
  background-image: url("../img/icon-feature-rocket.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: top 25px left 0;
}
.advantages__item--gift{
  background-image: url("../img/icon-feature-gift.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: top 25px left 0;
}
