.catalog-header {
  background-color: $color-background;
  min-height: 177px;
  margin-bottom: 30px;
  padding: 72px 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.catalog-header__title {
  color: $color-main;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog-header {
    background-color: $color-background;
    min-height: 246px;
    margin-bottom: 59px;
    padding-top: 97px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      bottom: 0;
      left: 0;
      height: 33px;
      width: 100%;
      display: block;
    }
  }

  .catalog-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-header {
    background-color: $color-background;
    min-height: 273px;
    padding-top: 96px;
    margin-bottom: 112px;
  }

  .catalog-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
