.catalog-header{
  background-color: $color-background;
  height: 175px;
  margin-bottom: 30px;
}

.catalog-header__title{
  color: $color-main;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  padding: 76px 0;
  margin: 0;
}
