.catalog {
  width: 260px;
  margin: 0 auto;
  padding: 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: #ededed solid 1px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 5px 5px 0 #ececec;
  }

  &:active {
    box-shadow: 0 2px 5px 0 #ececec;
  }
}

.catalog__image {
  margin-bottom: 23px;
}

.catalog__name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-main;
  display: block;
  margin-bottom: 5px;
}

.catalog__options {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  display: block;
  margin-bottom: 20px;
}

.catalog__price-basket {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  border-top: #ededed solid 1px;
  padding-top: 23px;
  margin-bottom: 25px;
}

.catalog__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__description {
  width: 80%;
}

a.catalog__basket-icon {
  &:hover path {
    fill: $color-blue;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 668px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 63px;
  }

  .catalog__list {
    margin-bottom: 49px;
  }

  .catalog__item {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 333px;
    margin-bottom: 54px;
  }

  .catalog__item:last-of-type {
    margin-bottom: 0;
  }

  .catalog__image {
    height: 334px;
    width: 334px;
    margin-bottom: 0;
  }

  .catalog__description {
    width: 277px;
    height: 331px;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    margin-left: 26px;
    box-sizing: border-box;
  }

  .catalog__price-basket {
    margin-top: auto;
    height: 72px;
    align-items: center;
    border-top: 1px solid #ececec;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 3px;
  }

  .catalog__options {
    font-size: 15px;
  }

  .catalog__name {
    font-size: 20px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 103px;
  }

  .catalog__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .catalog__item {
    flex-direction: column;
    align-content: space-between;
    margin-right: 52px;
    width: 316px;
    height: 659px;
    box-sizing: border-box;
  }

  .catalog__item:last-of-type {
    margin-right: 0;
  }

  .catalog__image {
    height: 464px;
    width: 316px;
  }

  .catalog__description {
    width: 263px;
    height: 189px;
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    box-sizing: border-box;
    margin: 0 25px;
  }

  .catalog__price-basket {
    margin-top: auto;
    height: 71px;
    border-top: 1px solid #ececec;
    padding-left: 0;
  }

  .catalog__options {
    margin-bottom: 13px;
  }
}
