.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: left;
  vertical-align: top;
  margin-bottom: 40px;
}

.contacts__map {
  width: 100%;
  min-height: 455px;
  margin-bottom: 40px;
}

.contacts__address {
  padding-left: 30px;
}

.contacts__mail{
  padding-left: 30px;
  box-shadow: 0 1px 0 0 $color-blue;
}

.contacts__value {
  white-space: nowrap;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 668px;
    margin: 0 auto;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 47px 81px;
  }

  .contacts__table {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 668px;
    vertical-align: top;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
  }
  .contacts__list {
    vertical-align: top;
    flex-grow: 1;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 60px;
  }
  .contacts__btn{
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .contacts__map {
    width: 100%;
    min-height: 460px;
    margin-bottom: 60px;
  }

}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 875px;
    height: 500px;
    margin: 0 auto;
    padding-left: 175px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: left 65px top 65px;
    background-size: 47px 81px;
  }
  .contacts__table {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 35px;
  }

  .contacts__list {
    flex-grow: 0;
  }

  .contacts__btn{
    margin: 0;
    margin-top: auto;
  }

  .contacts__map {
     width: 525px;
     min-height: 455px;
     flex-grow: 1;
     order: 1;
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
}

