.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  margin: 0 auto;
  padding-top: 10px;
  margin-top: 25px;
  margin-bottom: 38px;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
  margin-left: -2px;
}

.contacts__list {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  text-align: left;
  vertical-align: top;
  margin-bottom: 30px;
}

.contacts__table {
  margin-bottom: 2px;
  margin-left: -2px;
}

.contacts__map-google {
  width: 100%;
  min-height: 455px;
  border: none;
  outline: none;
}

.contacts__address {
  padding-left: 27px;
  padding-top: 0;
  line-height: 30px;
}

.contacts__mail {
  padding-left: 24px;
}

.contacts__mail a {
  border-bottom: 1px solid $color-blue;
  padding-bottom: 3px;
  color: #444444;

  &:hover {
    color: $color-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__value {
  white-space: nowrap;
  vertical-align: top;
}

.contacts__map {
  margin-bottom: 41px;
  height: 455px;
  width: 100%;
  z-index: 30;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 668px;
    margin: 0 auto;
    padding-top: 34px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: right 3px top 19px;
    background-size: 47px 81px;
    margin-top: 0;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 44px;
    margin-left: -5px;
  }

  .contacts__table {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 668px;
    vertical-align: top;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 54px;
  }

  .contacts__list {
    vertical-align: top;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 50px;
    }
  }

  .contacts__mail {
    padding-left: 15px;
  }

  .contacts__address {
    padding-left: 20px;
  }

  .contacts__map {
    background-size: cover;
    width: 100%;
    height: 460px;
    margin-bottom: 53px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
    }

    .contacts__map-google {
      border: none;
      outline: none;
    }
  }

  .contacts__btn {
    margin: 0 auto;
    margin-bottom: 47px;
    min-width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 875px;
    height: 508px;
    margin: 0 auto;
    padding-left: 170px;
    padding-top: 67px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: left 61px top 130px;
    background-size: 47px 81px;
    justify-content: flex-start;
    margin-bottom: 54px;
    margin-top: 10px;
  }

  .contacts__table {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .contacts__address {
    padding-left: 25px;
  }

  .contacts__list {
    flex-grow: 0;
    margin-top: 25px;
  }

  .contacts__mail {
    padding-left: 23px;
  }

  .contacts__btn {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: 50px;
  }

  .contacts__map {
    width: 525px;
    height: 455px;
    order: 1;
    margin-bottom: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
  }

  .contacts__map-google {
    width: 525px;
    height: 455px;
    border: none;
    outline: none;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 72px;
    margin-bottom: 19px;
    margin-left: -2px;
  }
}
