.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__map {
  min-width: 320px;
  min-height: 455px;
  margin-bottom: 30px;
}
