.copyright {
  width: 260px;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.copyright__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $color-main;
  position: relative;
  margin-left: 40px;
  display: block;
}

.copyright__link::after {
  content: "";
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34.09px;
  top: 0;
  right: -60px;
  position: absolute;
}

a.copyright__link {
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
    justify-content: flex-end;
  }

  .copyright__link {
    display: block;
    padding: 20px 0;
  }


  .copyright__link::after {
    top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    display: flex;
    justify-content: flex-end;
  }
}
