.copyright {
  width: 260px;
  min-height: 75px;
  display: flex;
  align-items: center;
}

.copyright__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $color-main;
  position: relative;
  margin-left: 40px;
  display: block;
  padding-right: 60px;

  &::after {
    content: "";
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: -6px;
    right: 0;
    position: absolute;
  }
}

a.copyright__link {
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
    justify-content: flex-end;
  }

  .copyright__link {
    display: block;
    padding: 20px 0;
    padding-right: 56px;

    &::after {
      top: 14px;
      right: -10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    display: flex;
    justify-content: flex-end;
  }
}
