.fio-form--input {
  border: none;
  border-bottom: $color-main solid 2px;

  @include placeholder {
    color: $color-light-black;
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
  }
}
