.form-order__wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.form-order__wrapper-gray {
  width: 260px;
  margin: 0 auto;
}

.form-order__note {
  color: $color-light-black;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form-order {
    margin-bottom: 32px;
  }

  .form-order__wrapper {
    width: 668px;
    margin-bottom: 32px;
  }

  .form-order__wrapper-gray {
    width: 100%;
    background-color: #f1f1f1;
  }

  .form-order__note {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .form-order {
    margin-bottom: 32px;
  }

  .form-order__wrapper {
    width: 1050px;
    margin-bottom: 0;
  }

  p.form-order__wrapper {
    margin-bottom: 24px;
  }

  p.form-order__wrapper,
  div.form-order__wrapper {
    width: 700px;
    padding-top: 16px;
  }
}
