.form-order--wrapper {
  width: 260px;
  margin: 0 auto;
}

.form-order--wrapper-gray {
  width: 260px;
  margin: 0 auto;
}

.form-order__note {
  color: $color-light-black;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form-order {
    margin-bottom: 33px;
  }


  .form-order--wrapper {
    width: 668px;
  }

  .form-order--gray {
    width: 100%;
    background-color: #f1f1f1;
  }

  .form-order__note {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-order--wrapper {
    width: 1050px;
  }
}
