.index-slogan{

}

.index-slogan__title{
  font-size: 27px;
  line-height: 30px;
  color: $color-main;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.index-slogan--image{
  background-image: url("../img/hero-mobile@1x.jpg");
  width: 575px;
  height: 373px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
