.index-slogan__wrapper {
  background-color: #f9f9f9;
  border-top: 1px solid #e7e7e7;
}

.index-slogan {
  margin: 0 auto;
  min-height: 283px;
  width: 260px;
}

.index-slogan__title {
  font-size: 27px;
  line-height: 30px;
  color: $color-main;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 70px;
}

.index-slogan--image {
  background-image: url("../img/hero-mobile@1x.jpg");
  width: 260px;
  height: 255px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

@media (min-width: $tablet-width) {
  .index-slogan {
    width: 668px;
  }

  .index-slogan--image {
    background-position: center;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto auto;
    width: 668px;
    height: 536px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: auto auto;
    }
  }

  .index-slogan__wrapper {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .index-slogan__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 74px;
  }
}

@media (min-width: $desktop-width) {
  .index-slogan {
    width: 1050px;
  }

  .index-slogan--image {
    background-size: cover;
    background-position: center -30px;;
    background-image: url("../img/hero-desktop@1x.jpg");
    width: 1050px;
    height: 541px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size:  auto 541px;
    }
  }

  .index-slogan__title {
    font-size: 53px;
    line-height: 57px;
  }
}
