.main-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.main-form__title {
  color: $color-blue;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  width: 100%;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    vertical-align: middle;
    background: $color-blue;
    margin-right: -100%;
    background-clip: border-box;
    right: -20px;
    position: relative;
  }
}

.main-form__list {
  margin: 0;
  padding: 0;
}

.main-form__item {
  padding-left: 60px;
  margin-bottom: 25px;
}

.main-form__label {
  color: $color-main;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.main-form__input-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;

}

.main-form__input-radio + .main-form__label {

  &:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -60px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background: #FFF;

  }
  &:after {
    content: "";
    position: absolute;
    top: 7px;
    left: -45px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $color-blue;
    opacity: 0;
    transition: .2s;
  }
}
.main-form__input-radio:checked + label:after {
  opacity: 1;
}










.main-form__input {
  border: none;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  width: 100%;

  @include placeholder {
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
    height: 20px;
    display: block;
    color: $color-placeholder;
  }
}

  .main-form__footnote {
    padding: 0;
    margin: 0;
    color: $color-light-black;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
  }

  .main-form__textarea--textarea {
    border: $color-main solid 2px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;

    @include placeholder {
      color: $color-placeholder;
      font-size: 17px;
      line-height: 18px;
      box-sizing: border-box;
      padding: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    .main-form__fieldset:nth-child(2n) {
      background-color: $color-background;
    }
  }

  @media (min-width: $desktop-width) {
    .main-form {

    }
  }
