.main-nav {
  color: $color-main;
}

.main-nav__user-list {
  padding: 0;
  margin: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item--search a,
.main-nav__item--basket a {
  &:active {
    opacity: 0.3;
  }

  &:hover .icon-cart,
  &:hover .icon-search {
    fill: $color-blue;
  }
}

.main-nav__item--search svg,
.main-nav__item--basket svg {
  position: absolute;
  top: 30px;
  left: 0;
}

.main-nav__sale {
  display: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  border-top: #ececec solid 1px;
  position: relative;
}

.main-nav__item a {
  font-size: 17px;
  line-height: 24px;
  color: $color-main;
  font-weight: bold;
  display: block;
  height: 80px;
  width: 260px;
  padding: 30px 0 0 45px;
  box-sizing: border-box;
  vertical-align: middle;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__toggle {
    top: 32px;
    right: 0;
    width: 20px;
    height: 14px;
    position: absolute;
    border: none;
    cursor: pointer;
    display: block;
    background-color: transparent;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 14px;
    width: 20px;
    height: 14px;
  }

  .main-nav--opened .main-nav__toggle {
    background-image: url("../img/icon-menu-close.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }

  .main-nav--closed .main-nav__list,
  .main-nav--closed .main-nav__user-list {
    display: none;
  }

  .main-nav--opened .main-nav__list,
  .main-nav--closed .main-nav__user-list {
    display: block;
  }

  .main-nav--nojs .main-nav__list,
  .main-nav--closed .main-nav__user-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__list {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::before {
      display: none;
    }
  }

  .main-nav__list a {
    font-size: 15px;
    line-height: 24px;
    padding: 20px 0;
  }

  .main-nav__item {
    border-top: none;
  }

  .main-nav__item a {
    padding: 20px 0;
    width: 170px;
  }

  .main-nav__user-list a {
    padding: 30px 0;
  }

  .main-nav__item--basket a {
    padding-left: 40px;
    width: 230px;
  }

  .main-nav__item--basket {
    text-align: right;
    margin-left: 35px;
  }

  .main-nav__item--search {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    position: relative;
  }

  .main-nav__item--search svg {
    position: absolute;
    top: 37px;
    left: 35px;
  }

  .main-nav__item--search a {
    padding: 0;
    margin: 0;
    width: 83px;
    min-height: 86px;
    font-size: 0;
  }

  .main-nav__user-list {
    order: -2;
    display: flex;
    margin-left: auto;
  }

  .main-nav__sale {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__item a {
    padding: 30px 0;
    width: 180px;
  }

  .main-nav__sale {
    display: flex;

    & a {
      font-size: 15px;
      line-height: 24px;
      padding: 20px 0;
    }
  }

  .main-nav__list {
    order: -4;
  }

  .main-nav__list a {
    font-size: 17px;
    line-height: 24px;
  }

  .main-nav__item--basket a {
    padding-left: 40px;
    width: 265px;
  }

  .main-nav__item--basket {
    text-align: right;
    margin-left: 0;
  }

  .main-nav__item--basket svg {
    position: absolute;
    top: 35px;
    left: 30px;
  }

  .main-nav__item--search a {
    padding: 0;
    margin: 0;
    width: 85px;
  }

  .main-nav__list li,
  .main-nav__sale li {
    margin-right: 40px;
  }

  .main-nav__list li:first-child {
    border-right: 1px solid #e7e7e7;
  }
}
