.main-form__fieldset {
  border: none;
  padding: 0;

}

@media (max-width: $mobile-width-only) {

  .main-form__fieldset--type {
    margin-bottom: 28px;

    & li {
      padding-left: 60px;
      margin-bottom: 0px;
    }

    & legend {
      margin-bottom: 22px;
    }

    & label {
      margin-bottom: 0px;
    }
  }

  .main-form__fieldset--color {
    margin-bottom: 28px;

    & li {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & legend {
      margin-bottom: 24px;
    }

    & label {
      margin-bottom: 0px;
    }
  }

  .main-form__fieldset--name {
    margin-bottom: 23px;

    & legend {
      margin-bottom: 17px;
    }

    & label {
      margin-bottom: 0px;
    }

    & input {
      margin-bottom: 8px;
      margin-top: 0;
    }
  }

  .main-form__fieldset--phone {
    margin-bottom: 28px;

    & legend {
      margin-bottom: 23px;
    }

    & label {
      margin-bottom: 0px;
    }

    & input {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-bottom: 17px;
      &::after {
        bottom: 17px;
        right: 9px;
      }
    }
  }

  .main-form__fieldset--mail {
    margin-bottom: 30px;

    & legend {
      margin-bottom: 21px;
    }

    & label {
      margin-bottom: 0px;
    }

    & input {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-bottom: 20px;
    }
  }

  .main-form__fieldset--add {
    margin-bottom: 5px;

    & legend {
      margin-bottom: 25px;
    }

    & label {
      margin-bottom: 0px;
    }

    & textarea {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}

.main-form__footnote {
  color: $color-light-black;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  margin-top: 11px;
}

.main-form__title {
  color: $color-blue;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    vertical-align: middle;
    background: $color-blue;
    margin-right: -100%;
    background-clip: border-box;
    right: -20px;
    position: relative;
  }
}

.main-form__list {
  margin: 0;
  padding: 0;
}

.main-form__item {
  padding-left: 62px;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__label {
  color: $color-main;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 13px 0;
}


.main-form__input-radio + .main-form__label--radio {
  &::before {
    content: "";
    position: absolute;
    left: -61px;
    top: 2px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #000000;
  }
}

.main-form__input-radio:checked + .main-form__label--radio::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -48px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $color-blue;
}

.main-form__input-radio + .main-form__label--radio:hover::before,
.main-form__input-checkbox + .main-form__label--checkbox:hover::before{
  border: 2px solid $color-blue;
}

.main-form__input-radio + .main-form__label--radio:active::before,
.main-form__input-checkbox + .main-form__label--checkbox:active::before{
  border: 2px solid #c7c7c7;
}

.main-form__input-checkbox + .main-form__label--checkbox {
  &::before {
    content: "";
    position: absolute;
    left: -61px;
    top: 0;
    width: 38px;
    height: 38px;
    border: 2px solid #000000;
  }
}

.main-form__input-checkbox:checked + .main-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -52px;
  width: 21px;
  height: 8px;
  border: 3px solid #000000;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
}

.main-form__input {
  border: none;
  padding-bottom: 19px;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-bottom: 2px solid $color-blue;
  }

  &:focus {
    border-bottom: 2px solid $color-blue;
  }

  @include placeholder {
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
    height: 20px;
    display: block;
    color: $color-placeholder;
  }
}

.main-form__fieldset--phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    width: 24.829px;
    height: 24.333px;
    display: block;
    bottom: 17px;
    right: 9px;
    z-index: 3;
    opacity: 0.3;
  }
}


.main-form__fieldset--mail {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    bottom: 10px;
    right: 4px;
    z-index: 3;
    opacity: 0.3;
  }
}

.main-form__textarea--textarea {
  border: $color-main solid 2px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;

  &:hover {
    border: 2px solid $color-blue;
  }

  &:focus {
    border: 2px solid $color-blue;
  }

  @include placeholder {
    color: $color-placeholder;
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .main-form__title {
    margin: 0;
    position: absolute;
    margin-top: 20px;
    width: 668px;

    &::after {
      display: none;
    }
  }

  .main-form__fieldset {
    padding: 30px 0;
    display: flex;
  }

  .main-form__list {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: space-between;

  }

  .main-form__fieldset--name div,
  .main-form__fieldset--phone input,
  .main-form__fieldset--mail input,
  .main-form__fieldset--add textarea {
    width: 500px;
    margin-left: auto;
  }

  .main-form__fieldset--phone {
    &::after {
      bottom: 70px;
      right: 185px;
    }
  }

  .main-form__item {
    box-sizing: content-box;
  }

  .main-form__note-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  .main-form__wrapper {
    background-color: $color-background;
    width: 100%;
  }

  .main-form__footnote {
    font-size: 17px;
    line-height: 30px;
  }

  .main-form__label {
    padding: 20px 0;
    font-size: 19px;
    line-height: 19px;
  }


  .main-form__input-radio + .main-form__label--radio {
    &::before {
      left: -59px;
      top: 5px;
      width: 45px;
      height: 45px;
    }
  }

  .main-form__input-radio:checked + .main-form__label--radio::after {
    top: 21px;
    left: -44px;
    width: 19px;
    height: 19px;
  }

  .main-form__input-checkbox + .main-form__label--checkbox {
    &::before {
      left: -80px;
      top: 5px;
      width: 51px;
      height: 48px;
    }
  }

  .main-form__input-checkbox:checked + .main-form__label--checkbox::after {
    top: 21px;
    left: -67px;
    width: 26px;
    height: 11px;
  }

  .main-form__fieldset--type {
    margin-bottom: 20px;
    padding-top: 31px;
    padding-bottom: 31px;
    box-sizing: border-box;

    & li {
      padding-left: 60px;
      margin-bottom: 27px;
    }

    & legend {
      margin-bottom: 22px;
    }

    & label {
      margin-bottom: 0px;
      padding: 16px 0;
      padding-left: 20px;
    }
  }

  .main-form__fieldset--color {
    padding-top: 48px;
    box-sizing: border-box;
    min-height: 307px;

    & ul {

    }

    & li {
      width: 160px;
      padding-left: 80px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & legend {
    }

    & label {
      margin-bottom: 0px;
    }

    & input {
    }
  }

  .main-form__fieldset--name {
    padding-top: 48px;
    padding-bottom: 28px;
    box-sizing: border-box;

    & > div {
      display: flex;
      flex-wrap: wrap;
    }

    & > div > div{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 8px;
    }

    & legend {
      margin-bottom: 17px;
    }

    & label {
      padding-top: 15px;
      padding-bottom: 34px;
      margin-bottom: 0px;
      margin-right: 23px;
    }

    & input {
      padding: 0;
      padding-bottom: 17px;
      padding-left: 15px;
      margin-bottom: 0px;
      margin-top: 0;
      position: relative;

    }
  }

  .main-form__fieldset--phone {
    padding-top: 48px;
    padding-bottom: 23px;

    &::after {
      bottom: 40px;
      right: 26px;
    }
    & legend {
      margin-bottom: 23px;
    }

    & label {
      margin-bottom: 0px;
    }

    & input {
      margin-bottom: 0px;
      margin-top: 16px;
      padding-bottom: 17px;
      padding-left: 17px;

    }
  }

  .main-form__fieldset--mail {
    padding-top: 0;
    padding-bottom: 51px;

    &::after {
      bottom: 60px;
      right: 21px;
    }

    & legend {
      margin-bottom: 23px;
    }

    & label {
      margin-bottom: 0px;
    }

    & input {
      margin-bottom: 0px;
      margin-top: 16px;
      padding-bottom: 17px;
      padding-left: 17px;
    }
  }

  .main-form__fieldset--add {
    margin-bottom: 17px;
    padding-top: 48px;

    & legend {
      margin-bottom: 25px;
    }

    & label {
      margin-bottom: 0px;
    }

    & textarea {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .main-form__btn {
    min-width: 230px;
  }

}

@media (min-width: $desktop-width) {
  .main-form__title {
    margin-left: 20px;
    width: 1050px;
  }

  .main-form__fieldset {
    padding: 50px 0;
  }

  .main-form__list,
  .main-form__fieldset--name div,
  .main-form__fieldset--phone input,
  .main-form__fieldset--mail input,
  .main-form__fieldset--add textarea {
    width: 700px;
    margin: 0 auto;
  }

  .main-form__fieldset--color {
    & ul {
      height: 220px;
    }
  }

  .main-form__input,
  .main-form__textarea--textarea {
    @include placeholder {
      font-size: 19px;
      line-height: 19px;
    }
  }
}
