.main-form__fieldset {
  border: none;
  border-top: $color-blue solid 1px;
}

.main-form__title {
  color: $color-blue;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-form__list {
  margin: 0;
  padding: 0;
}

.main-form__item {
  padding-left: 60px;
  margin-bottom: 25px;
}

.main-form__label {
  color: $color-main;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.main-form__footnote {
  color: $color-light-black;
  font-size: 14px;
  line-height: 16px;
}

.main-form__input--tel,
.main-form__input--email {
  border: none;
  border-bottom: $color-main solid 2px;

  @include placeholder {
    color: $color-light-black;
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
    border: none;
  }
}

.main-form__textarea--textarea {
  border: $color-main solid 2px;
  
  @include placeholder {
    color: $color-light-black;
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
  }
}
