.page-header {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.page-header__logo img {
  padding: 20px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo {
  text-align: center;
  display: inline-block;
}

.page-header p {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -80px;
  }

  .page-header__logo {
    width: 170px;
    order: -3;
  }
  .page-header p {
    display: block;
  }

}

@media (min-width: $desktop-width) {

  .page-header__logo {
    width: 170px;
    order: -3;
  }

  .page-header {
    width: 1050px;
    margin-bottom: -80px;
  }
}
