.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  margin: 0 auto;
}

.page-footer--wrapper {
  background-color: $color-background;
  margin-top: 55px;
}

.page-footer__logo {
  width: 260px;
  text-align: center;
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
    height: 143px;
  }

  .page-footer--wrapper {
    margin-top: 0;
  }

  .page-footer__logo {
    flex-grow: 1;
    display: block;
    text-align: left;

    &:hover .logo-footer {
      fill: $color-blue;
    }

    &:active .logo-footer {
      fill: $color-blue;
      opacity: 0.3;
    }
  }

  .page-footer__social {
    flex-grow: 1;
  }

  .page-footer__copyright {
    flex-grow: 1;
    text-align: right;
    margin-right: 55px;
    display: block;
    vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
  }

  .page-footer__logo {
    flex-grow: 1;
  }

  .page-footer__social {
    flex-grow: 1;
  }

  .page-footer__copyright {
    flex-grow: 1;
    text-align: right;
    margin-right: 55px;
  }
}
