.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}

.products__item--wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 21px;

  &:hover svg {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

a.products__item {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.products svg {
  opacity: 0.5;
  display: inline-block;
}

.products__item--decoration {
  background-color: #63d1bb;
}

.products__item--toy {
  background-color: #56c3b2;
}

.products h2 {
  margin: 0;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  width: 130px;
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: -135px;
    width: 668px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      bottom: 0;
      left: 0;
      height: 33px;
      width: 100%;
      display: block;
    }
  }

  .products__item--wrapper {
    width: 334px;
    min-height: 137px;
    padding: 8px 30px 30px 40px;
    box-sizing: border-box;

    &:hover {
      transform: translateY(-5px);
    }
  }

  a.products__item {
    width: 100%;
    box-sizing: border-box;
  }

  .products h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .products__item--decoration {
    background-color: #63d1bb;
  }

  .products__item--toy {
    background-color: #56c3b2;
  }
}

@media (min-width: $desktop-width) {
  .products {
    //margin-top: -122px;
    margin-bottom: 52px;
    width: 1050px;
  }

  .products__item--wrapper {
    width: 525px;
    min-height: 136px;
  }

  a.products__item {
    width: 525px;
  }
}
