.products {
  margin-bottom: 30px;
}

.products__item {
  height: 103px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;

  &:hover {
    height: calc(100% + 5px);
    padding: 25px 0;
  }

  &:hover svg {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.products svg {
  opacity: 0.5;
}

.products__item--decoration {
  background-color: #63d1bb;
}

.products__item--toy {
  background-color: #56c3b2;
}

.products h2 {
  margin: 0;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  width: 130px;
}

@media (min-width: $tablet-width) {
  .products {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .products__item {
    width: 334px;
    height: 122px;
    padding: 33px;

    &:hover {
      height: 127px;
      padding: 33px;
      padding-top: 28px;
    }
  }

  .products h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 70px;
  }

  .products__item {
    width: 525px;
  }
}
