.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 260px;
  min-height: 575px;
  margin-bottom: 24px;
  padding-bottom: 5px;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  width: 260px;
  margin: 0;
  margin-bottom: 32px;

  & br {
    display: none;
  }
}

.reviews__author {
  margin-bottom: 5px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.reviews__tweet {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  display: block;
}

.reviews__arrow {
  display: flex;
  margin-top: 28px;
}

.reviews__btn {
  margin-top: 39px;
}

.reviews__prev,
.reviews__next {
  font-size: 0;
  border: solid 1px #ececec;
  min-width: 130px;
  min-height: 50px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 26px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__prev--icon {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__next--icon {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 668px;
    min-height: 340px;
    padding: 78px 50px 56px 46px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 352px 458px;
    background-position: 0 0;
    margin-bottom: 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;
      background-size: 352px 458px;
      background-position: 0 0;
    }
  }

  .reviews__text {
    font-size: 17px;
    width: 668px;
    margin-bottom: 56px;
    margin-top: 20px;
  }

  .reviews__author-name {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__btn {
    order: -1;
    margin-top: 0;
    min-width: 175px;
  }

  .reviews__title {
    order: -2;
  }

  .reviews__arrow {
    margin-top: 2px;
  }

  .reviews__prev,
  .reviews__next {
    border: none;
    min-width: 85px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 875px;
    min-height: 295px;
    padding: 75px 0 90px 174px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 354px 457px;
    margin-bottom: 58px;
    margin-top: 9px;
    align-content: space-between;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;
      background-position: 6px 0;
      background-size: 354px 457px;
    }
  }

  .reviews__text {
    width: 795px;
    margin-bottom: 0;
    margin-top: -14px;

    & br {
      display: block;
    }
  }

  .reviews__author-name {
    margin-bottom: 11px;
  }

  .reviews__btn {
    order: -1;
  }

  .reviews__title {
    order: -2;
  }
}
