.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 260px;
  margin-bottom: 30px;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
}

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.reviews__tweet {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  display: block;
}

.contacts__list td {
  padding-left: 20px;
}

.contacts__list {
  margin-bottom: 30px;
}

.reviews__arrow {
  display: flex;
  //margin-bottom: 30px;
}

.reviews__prev,
.reviews__next {
  font-size: 0;
  border: solid 1px #ececec;
  min-width: 130px;
  min-height: 50px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 26px;
}

.reviews__prev--icon {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__next--icon {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $tablet-width) {
  .reviews  {
    display: flex;
    flex-direction: row;
    width: 668px;
    height: 360px;
    padding: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: -20px -20px;
  }

  .reviews__nav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 360px;
  }

  .reviews__text{
    flex-grow: 1;
    flex-basis: 500px;
  }
  .reviews__btn{
    align-self: flex-end;
  }

}

@media (min-width: $desktop-width) {
  .reviews  {

  }
}
