.social {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 260px;
  box-shadow: 0 1px 0 0 #e5e5e5;
}

.social__link:not(:first-child) {
  margin-left: 30px;
}

.social__link--instagram {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  width: 21.769px;
  height: 21.334px;
}

.social__link--facebook {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  width: 21.769px;
  height: 21.334px;
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  width: 21.769px;
  height: 21.334px;
}


@media (min-width: $tablet-width) {
  .social {
    box-shadow: none;
    padding: 0;
  }
}
