.social {
  display: flex;
  justify-content: center;
  padding: 26px 0 20px 0;
  width: 260px;
  box-shadow: 0 1px 0 0 #e5e5e5;
}

.social__link:not(:first-child) {
  margin-left: 39px;
}

a.social__link {
  &:hover {
    fill: $color-blue;
  }

  &:active {
    fill: $color-blue;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    box-shadow: none;
    padding: 0;
    width: 240px;
    align-items: center;
    padding-top: 5px;
  }

  .icon-instagram {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    align-items: center;
  }
}
