.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
}

.social__link:not(:first-child) {
  margin-left: 39px;
}

a.social__link {
  margin-left: -5px;

  &:hover {
    fill: $color-blue;
  }

  &:active {
    fill: $color-blue;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    box-shadow: none;
    padding: 0;
    width: 240px;
    align-items: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding-left: 0;
  }
}
