.video-production {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #ededed solid 1px;
  margin: 0 auto;
  width: 260px;
  margin-bottom: 59px;

  &:hover {
    box-shadow: 0 5px 5px 0 #ececec;
  }

  &:active {
    box-shadow: 0 2px 5px 0 #ececec;
  }
}

.video-production__video-title {
  margin: 0;
  height: 100px;
  padding: 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 90px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    background-image: url("../img/icon-video.svg");
    position: absolute;
    width: 32px;
    height: 32px;
    top: 30px;
    left: 34px;
  }
}

.video-production__video {
  width: 260px;
  height: 150px;
}

.video-production__container {
  width: 260px;
  height: 150px;
  margin-bottom: 27px;
  margin-top: -4px;
  position: relative;
}

.video-production__video-about {
  padding: 0;
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 24px;
  width: 190px;
}

.video-production__btn {
  margin-bottom: 33px;
  min-width: 194px;
  height: 52px;
}

.video-production__play {
  position: absolute;
  top: 36px;
  left: 74px;
  height: 78px;
  width: 111px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .video-production {
    height: 700px;
    width: 668px;
    margin-bottom: 63px;
    justify-content: flex-start;
    padding-bottom: 37px;
  }

  .video-production__video {
    width: 668px;
    height: 454px;
  }

  .video-production__container {
    width: 668px;
    height: 454px;
    order: -1;
    margin-bottom: 0;
  }

  .video-production__video-about {
    width: 583px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 33px;
  }

  .video-production__btn {
    min-width: 583px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .video-production__video-title {
    width: 583px;
    padding: 40px 0;
    font-size: 20px;
    padding-left: 63px;
    height: 97px;

    &::before {
      top: 35px;
      left: 0;
    }
  }

  .video-production__play {
    position: absolute;
    top: 188px;
    left: 279px;
    height: 80px;
    width: 112px;
  }
}

@media (min-width: $desktop-width) {
  .video-production {
    width: 1050px;
    height: 451px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 104px;
    padding-bottom: 0;
  }

  .video-production__container {
    width: 683px;
    height: 455px;
    order: -1;
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 21px;
  }

  .video-production__video {
    width: 683px;
    height: 455px;
    order: -1;
  }

  .video-production__video-about {
    width: 232px;
    font-size: 15px;
    margin-bottom: 45px;
  }

  .video-production__btn {
    min-width: 231px;
    margin-top: auto;
    margin-bottom: 60px;
  }

  .video-production__video-title {
    width: 232px;
    padding-top: 47px;
    font-size: 20px;
    margin-top: 44px;
    margin-bottom: 32px;
    padding-left: 0;

    &::before {
      top: -10px;
      left: 2px;
    }
  }

  .video-production__play {
    position: absolute;
    top: 188px;
    left: 287px;
    height: 80px;
    width: 112px;
  }
}
