.video-production {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: #ededed solid 1px;
  margin-bottom: 30px;
  width: 260px;
}

.video-production__video-title {
  margin: 0;
  padding: 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 90px;
}

.video-production__video {
  margin-bottom: 33px;
}

.video-production__video-about {
  padding: 0;
  margin: 0 35px;
  margin-bottom: 50px;
  font-size: 13px;
  line-height: 24px;
}

.video-production__btn {
  padding: 0;
  margin: 0 35px;
  min-width: 192px;
}
