.weekend-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.weekend-product__main-title {
  margin-bottom: 25px;
}

.weekend-product__title {
  text-transform: uppercase;
  color: $color-blue;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.weekend-product__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 3px;
}

p.weekend-product__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  width: 290px;
  margin: 0 0 15px 0;
}

.weekend-product__about {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  text-align: left;
  margin-bottom: 30px;
}

.weekend-product__about tr {
  border-bottom: #000000 solid 1px;
  padding: 10px 0;
}

.weekend-product__about td {
  padding: 8px 0;
  padding-right: 10px;
}

.weekend-product__img {
  display: block;
  margin-bottom: 25px;
}

.weekend-product__price {
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  font-weight: bold;
  text-align: center;
  margin: 0;
  display: block;
  margin-bottom: 25px;
}

.weekend-product__btn {
  width: 260px;
}

.weekend-product__main-info {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .weekend-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 668px;
    margin: 0 auto;
    margin-bottom: 14px;
    position: relative;
  }

  .weekend-product__main-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    width: 290px;
  }

  .weekend-product__about {
    margin-bottom: 55px;
  }

  .weekend-product__btn {
    width: 290px;
  }

  .weekend-product__main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .weekend-product__title {
    width: 94px;
  }

  p.weekend-product__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 33px;
  }

  .weekend-product__img {
    position: absolute;
    width: 334px;
    height: 404px;
    bottom: -26px;
    right: 0;
    z-index: -1;
  }

  .weekend-product__name {
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
  }

  .weekend-product__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .weekend-product {
    width: 1050px;
    display: block;
    margin-bottom: 0;
    padding-top: 53px;
  }

  .weekend-product__main-title {
    justify-content: flex-start;
  }

  .weekend-product__title {
    order: -1;
    padding-left: 35px;
    padding-right: 42px;
    padding-top: 5px;
    text-align: center;
  }

  .weekend-product__main-info {
    width: 290px;
    padding-left: 175px;
    min-height: 512px;
  }

  .weekend-product__name {
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    padding-bottom: 0;
  }

  .weekend-product__about {
    margin-bottom: auto;
  }

  .weekend-product__price {
    margin-top: auto;
    margin-bottom: 35px;
  }

  .weekend-product__img {
    width: 525px;
    height: 636px;
    bottom: 10px;
    z-index: -1;
  }

  .weekend-product__btn {
    margin-bottom: 35px;
  }

  p.weekend-product__description {
    margin-bottom: 45px;
  }
}
