.zigzag {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 307px 9px;
  height: 23px;
  width: 100%;
  margin: 14px auto 20px auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .zigzag {
    width: 668px;
    margin: 0 auto;
    background-size: contain;
  }
}

@media (min-width: $desktop-width) {
  .zigzag {
    margin: 0 auto;
    margin-top: 37px;
    width: 1100px;
  }
}
