@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  src: url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: $family;
  color: $color-main;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}
//
//div, ul, li, a, section, tr, td, table{
//  outline: 1px red solid;
//}
