@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: $family;
  color: $color-main;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

